* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 90vw;
  margin: 50px auto;
  text-align: center;
}

.list {
  margin-top: 25px;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
  gap: 15px;
  border-radius: 10px;
  box-shadow: 2px 3px 5px black;
  padding: 50px;
  width: 100%;
}

.list > li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list > li.line-through span {
  text-decoration: line-through;
}

.list > li button {
  background-color: #d42a2abe;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

.loader {
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #000;
  background: radial-gradient(1.13em at 50% 1.6em, #000 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em
      100% text,
    radial-gradient(1.13em at 50% -0.8em, #0000 99%, #000 101%) 50% 0.8em/3.2em 100% repeat-x text;
  animation: l9 2s linear infinite;
}

.loader.hidden {
  display: none;
}

.loader:before {
  content: 'Loading';
}
@keyframes l9 {
  to {
    background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) 0.8em;
  }
}
